<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.padcmyanmar.smtz.wechatredesign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeChatRedesign.TransparentStatusBar"
        tools:targetApi="31">
        <activity
            android:name=".activities.MyMomentsBookmarksActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatThreadGroupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewGroupActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChatThreadActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainScreenActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewMomentActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- For Scanner orientation -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>